@keyframes resize {
  0%   {border-radius: 10px;}
  50%  {border-radius: 50px;}
  100% {border-radius: 10px;}
}
body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 14px;
  background-image: url("snf.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.addDancerButton:hover {
  background-color: white;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
  font-weight: bold;
}
.dancer{
  border:10px solid white;
  border-radius:10px;
  position:absolute;
  transition: border 2s;
}
.dancer.slide{
  border-radius:10px;
  background-image: url('kneeling-john-travolta.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 15%;
  height: 20%;
  background-size: 50%;
  /*border-color: #1ECCE6;*/
}
.dancer.blinky{
  background-image: url('john-travolta.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 10%;
  height: 25%;
  background-size: 80%;
  /*border-color: #2DD84A;*/
}
.dancer:hover{
  border:10px solid yellow;
}
.dancer.fade {
  background-image: url('what-john-travolta.gif');
  background-repeat: no-repeat;
  background-position: center;
  width: 20%;
  height: 30%;
  background-size: 80%;
  /*border-color: #FA820A;*/
}
.dancer.dancing {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.lineUpButton{
  font-size:16px;
  padding:5px 12px;
  float:left;
}

.disperse {
  font-size:16px;
  padding:5px 12px;
  float: left;
}

.danceoff {
  font-size:16px;
  padding:5px 12px;
  float: left;
}

.conga, .leader {
  font-size:16px;
  padding:5px 12px;
  float: left;
}

.lineUpButton:hover, .disperse:hover, .danceoff:hover {
  background-color: white;
}

.highlight {
  background-color: white;
}


